process { withName: 'COLLECT_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'CV_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'EVALUATE_FINAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'FINAL_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'FIT_CURVES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ad/ad74f382e14f619b62c49e0c8f8c8b86e2f433f6eff9b95220d7e9b5b7f46b85/data' } }
process { withName: 'HPAM_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'LOAD_RESPONSE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'PREDICT_FULL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
process { withName: 'UNZIP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/17/171e3d1c631246d5afa0f01e78e0ff6a6ee78012dd17a7e8eccc871b65eac258/data' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3f/3f8fdc4bf25d3160c2b44a1c628d34bcc01c292c51b3e8f6232c927eb985109b/data' } }
