process { withName: 'COLLECT_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'CV_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'EVALUATE_FINAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'FINAL_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'FIT_CURVES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e7/e7b10d877585cdfd383daf38494baf81e52793282aeb3393088cf612e26a27b9/data' } }
process { withName: 'HPAM_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'LOAD_RESPONSE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'PREDICT_FULL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
process { withName: 'UNZIP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/17/171e3d1c631246d5afa0f01e78e0ff6a6ee78012dd17a7e8eccc871b65eac258/data' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b3/b3c7537ef89d5160d212fea27f38dbe8e7846dda288bc451d9612ea88dd2a715/data' } }
