process { withName: 'COLLECT_RESULTS' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'CV_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'EVALUATE_FINAL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'FINAL_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'FIT_CURVES' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:c0ad67ba4f34e1c5' } }
process { withName: 'HPAM_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'LOAD_RESPONSE' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'PREDICT_FULL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:b9be8869b9baf043' } }
