process { withName: 'COLLECT_RESULTS' { container = 'modules/local/collect_results/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'modules/local/consolidate_results/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'CV_SPLIT' { container = 'modules/local/cv_split/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'EVALUATE_FINAL' { container = 'modules/local/evaluate_final/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'modules/local/evaluate_find_max/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'FINAL_SPLIT' { container = 'modules/local/final_split/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'FIT_CURVES' { container = 'modules/local/fit_curves/.conda-lock/linux-arm64-bd-97424bed6a7f7435_1.txt' } }
process { withName: 'HPAM_SPLIT' { container = 'modules/local/hpam_split/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'LOAD_RESPONSE' { container = 'modules/local/load_response/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'modules/local/make_model_channel/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'modules/local/postprocess_curvecurator_output/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'PREDICT_FULL' { container = 'modules/local/predict_full/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'modules/local/preprocess_raw_viability/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'modules/local/randomization_split/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'modules/local/randomization_test/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'modules/local/robustness_test/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'modules/local/train_and_predict_cv/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'modules/local/train_final_model/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'modules/local/tune_final_model/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
process { withName: 'UNZIP' { container = 'modules/nf-core/unzip/.conda-lock/linux-arm64-bd-c5870abfebd19646_1.txt' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'modules/local/visualize_results/.conda-lock/linux-arm64-bd-c833eff049957dc2_1.txt' } }
