process { withName: 'COLLECT_RESULTS' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'CV_SPLIT' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'EVALUATE_FINAL' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'FINAL_SPLIT' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'FIT_CURVES' { container = 'community.wave.seqera.io/library/python_pip_curve_curator:20ec98c3526b960b' } }
process { withName: 'HPAM_SPLIT' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'LOAD_RESPONSE' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'PREDICT_FULL' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
process { withName: 'UNZIP' { container = 'community.wave.seqera.io/library/p7zip:16.02--94efedc6cfea7db9' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'community.wave.seqera.io/library/python_pip_drevalpy:07cdd5a85ef96789' } }
