process { withName: 'COLLECT_RESULTS' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'CONSOLIDATE_RESULTS' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-7cf5785022026d98_1/condalock' } }
process { withName: 'CV_SPLIT' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'EVALUATE_FINAL' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'EVALUATE_FIND_MAX' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'FINAL_SPLIT' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'FIT_CURVES' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-160cb0a74a2355bd_1/condalock' } }
process { withName: 'HPAM_SPLIT' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'LOAD_RESPONSE' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'MAKE_MODEL_CHANNEL' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'PREDICT_FULL' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'RANDOMIZATION_SPLIT' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'RANDOMIZATION_TEST' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'ROBUSTNESS_TEST' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'TRAIN_FINAL_MODEL' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'TUNE_FINAL_MODEL' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
process { withName: 'UNZIP' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-c5870abfebd19646_1/condalock' } }
process { withName: 'VISUALIZE_RESULTS' { conda = 'https://wave.seqera.io/v1alpha1/builds/bd-efdcf01a3b56c2ab_2/condalock' } }
