process { withName: 'COLLECT_RESULTS' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'CV_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'EVALUATE_FINAL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'FINAL_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'FIT_CURVES' { container = 'community.wave.seqera.io/library/python_pip_curve-curator:160cb0a74a2355bd' } }
process { withName: 'HPAM_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'LOAD_RESPONSE' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'PREDICT_FULL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
process { withName: 'UNZIP' { container = 'community.wave.seqera.io/library/p7zip:16.02--c5870abfebd19646' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:d6def7fa2145d0f6' } }
