process { withName: 'UNZIP' { container = 'oras://community.wave.seqera.io/library/p7zip:16.02--4b7298f5d4342af8' } }

process { withName: 'COLLECT_RESULTS' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'CV_SPLIT' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'EVALUATE_FINAL' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'FINAL_SPLIT' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'FIT_CURVES' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:9f89d6d50658553e' } }
process { withName: 'HPAM_SPLIT' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'LOAD_RESPONSE' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'PREDICT_FULL' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'oras://community.wave.seqera.io/library/matplotlib_numpy_pandas_python_pruned:4b5a559039349628' } }
