process { withName: 'COLLECT_RESULTS' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'CV_SPLIT' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'EVALUATE_FINAL' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'FINAL_SPLIT' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'FIT_CURVES' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-8f275bea1867edfd_1/condalock' } }
process { withName: 'HPAM_SPLIT' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'LOAD_RESPONSE' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'PREDICT_FULL' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
process { withName: 'UNZIP' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-94efedc6cfea7db9_1/condalock' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'https://wave.seqera.io/v1alpha1/builds/bd-4ca8e30ab27649ab_1/condalock' } }
