process { withName: 'UNZIP' { container = 'p7zip:16.02--94efedc6cfea7db9' } }

process { withName: 'COLLECT_RESULTS' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'CV_SPLIT' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'EVALUATE_FINAL' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'FINAL_SPLIT' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'FIT_CURVES' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'HPAM_SPLIT' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'LOAD_RESPONSE' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'PREDICT_FULL' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'python_pip_drevalpy:60b919fcfd35888b' } }
