process { withName: 'UNZIP' { container = 'oras://community.wave.seqera.io/library/p7zip:16.02--7223fd208e986fa2' } }

process { withName: 'COLLECT_RESULTS' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'CV_SPLIT' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'EVALUATE_FINAL' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'FINAL_SPLIT' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'FIT_CURVES' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'HPAM_SPLIT' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'LOAD_RESPONSE' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'PREDICT_FULL' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:1f164cef478f17cc' } }
