process.container = 'oras://community.wave.seqera.io/library/python_pip_drevalpy:6bc63ebdc2139973'
process { withName: 'NFCORE_DRUGRESPONSEEVAL:DRUGRESPONSEEVAL:RUN_CV:UNZIP_META'        { container = 'oras://community.wave.seqera.io/library/p7zip:16.02--4b7298f5d4342af8' } }
process { withName: 'NFCORE_DRUGRESPONSEEVAL:DRUGRESPONSEEVAL:RUN_CV:UNZIP_RESPONSE'    { container = 'oras://community.wave.seqera.io/library/p7zip:16.02--4b7298f5d4342af8' } }
process { withName: 'NFCORE_DRUGRESPONSEEVAL:DRUGRESPONSEEVAL:RUN_CV:UNZIP_CS_RESPONSE' { container = 'oras://community.wave.seqera.io/library/p7zip:16.02--4b7298f5d4342af8' } }
