process.container = 'python_pip_drevalpy:6545885380ee5326'
process { withName: 'NFCORE_DRUGRESPONSEEVAL:DRUGRESPONSEEVAL:RUN_CV:UNZIP_META'        { container = 'p7zip:16.02--c5870abfebd19646' } }
process { withName: 'NFCORE_DRUGRESPONSEEVAL:DRUGRESPONSEEVAL:RUN_CV:UNZIP_RESPONSE'    { container = 'p7zip:16.02--c5870abfebd19646' } }
process { withName: 'NFCORE_DRUGRESPONSEEVAL:DRUGRESPONSEEVAL:RUN_CV:UNZIP_CS_RESPONSE' { container = 'p7zip:16.02--c5870abfebd19646' } }
