process { withName: 'UNZIP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/dc/dce89b8e8db4339b75b10e63b2cace5f884b704e23fa6d23e278b35f47c1212e/data' } }

process { withName: 'COLLECT_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'CONSOLIDATE_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'CV_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'EVALUATE_FINAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'EVALUATE_FIND_MAX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'FINAL_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'FIT_CURVES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'HPAM_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'LOAD_RESPONSE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'MAKE_MODEL_CHANNEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'POSTPROCESS_CURVECURATOR_DATA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'PREDICT_FULL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'PREPROCESS_RAW_VIABILITY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'RANDOMIZATION_SPLIT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'RANDOMIZATION_TEST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'ROBUSTNESS_TEST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'TRAIN_AND_PREDICT_CV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'TRAIN_FINAL_MODEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'TUNE_FINAL_MODEL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
process { withName: 'VISUALIZE_RESULTS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/3e/3ecc057132a723d9c2b97bec20727e0b83999fddc02842832efd7193a4690e30/data' } }
